server {
	listen 80 ssl;
	server_name empty.tghack.no;

	root /var/www/empty;
	index index.html;

	location / {
		# First attempt to serve request as file, then
		# as directory, then fall back to displaying a 404.
		try_files $uri $uri/ =404;
	}

	location ~ /\.ht {
		deny all;
	}
}
